In [1]:
import pandas as pd
import numpy as np

import fml
%matplotlib inline

We compute here the number of labels concurrent at t.

In [2]:
df_price = fml.DataHandler().get_time_series_data("SPY")
price = fml.Price(df_price["Adj Close"], freq="B")

In [3]:
cross_time = price.bounds_cross_time(window=10)

In [28]:
cross_time.index = range(len(cross_time))
cross_time.head()

   lower_bound  upper_bound
0           11           11
1           11           11
2           10            1
3            4           11
4            1           11

In [29]:
cross_time_int = cross_time.min(axis=1).to_frame("cross")
cross_time_int["cnt"] = 0
cross_time_int.head(10)

   cross  cnt
0     11    0
1     11    0
2      1    0
3      4    0
4      1    0
5      1    0
6      1    0
7      5    0
8      4    0
9      1    0

In [30]:
for i in cross_time_int.index[:10]:
    cross_time_int.loc[i + 1: i + cross_time_int.loc[i, "cross"], "cnt"] += 1
cross_time_int.head(10)

   cross  cnt
0     11    0
1     11    1
2      1    2
3      4    3
4      1    3
5      1    4
6      1    4
7      5    4
8      4    3
9      1    4