In [1]:
import pandas as pd
import numpy as np

import fml
%matplotlib inline

We compute here the number of labels concurrent at t.

In [2]:
df_price = fml.DataHandler().get_time_series_data("SPY")
price = fml.Price(df_price["Adj Close"], freq="B")

In [3]:
cross_time = price.bounds_cross_time(window=10)

In [4]:
cross_time.index = range(len(cross_time))
cross_time.head()

   lower_bound  upper_bound
0           11           11
1           11           11
2           10            1
3            4           11
4            1           11

In [5]:
cross_time_int = cross_time.min(axis=1).to_frame("cross")
cross_time_int["cnt"] = 0
cross_time_int.head(10)

   cross  cnt
0     11    0
1     11    0
2      1    0
3      4    0
4      1    0
5      1    0
6      1    0
7      5    0
8      4    0
9      1    0

In [6]:
for i in cross_time_int.index[:20]:
    cross_time_int.loc[i + 1: i + cross_time_int.loc[i, "cross"], "cnt"] += 1
cross_time_int.head(10)

   cross  cnt
0     11    0
1     11    1
2      1    2
3      4    3
4      1    3
5      1    4
6      1    4
7      5    4
8      4    3
9      1    4

In [7]:
window = 10
for i in range(1, window + 2):
    cross_time_int[i] = cross_time_int["cross"].shift(i) >= i

In [8]:
cross_time_int["cnt_vec"] = cross_time_int[list(range(1, window + 2))].sum(axis=1)
series = price.num_concurrent_events()

In [9]:
cross_time_int[series.name] = series.values

In [11]:
cross_time_int.head(15)

,cross,cnt,1,2,3,4,5,6,7,8,9,10,11,cnt_vec,num_concurrent_events
0,11,0,False,False,False,False,False,False,False,False,False,False,False,0,0
1,11,1,True,False,False,False,False,False,False,False,False,False,False,1,1
2,1,2,True,True,False,False,False,False,False,False,False,False,False,2,2
3,4,3,True,True,True,False,False,False,False,False,False,False,False,3,3
4,1,3,True,False,True,True,False,False,False,False,False,False,False,3,3
5,1,4,True,True,False,True,True,False,False,False,False,False,False,4,4
6,1,4,True,False,True,False,True,True,False,False,False,False,False,4,4
7,5,4,True,False,False,True,False,True,True,False,False,False,False,4,4
8,4,3,True,False,False,False,False,False,True,True,False,False,False,3,3
9,1,4,True,True,False,False,False,False,False,True,True,False,False,4,4
10,2,5,True,True,True,False,False,False,False,False,True,True,False,5,5
11,1,5,True,False,True,True,False,False,False,False,False,True,True,5,5
12,6,5,True,True,False,True,True,False,False,False,False,False,True,5,5
13,5,1,True,False,False,False,False,False,False,False,False,False,False,1,1
14,4,2,True,True,False,False,False,False,False,False,False,False,False,2,2